<form action="/prehistoric" method="POST">
    <label for="prehistoricType">Type</label>
    <input type="text" id="prehistoricType" name="type">

    <label for="prehistoricimg_url">img_url</label>
    <input type="text" id="prehistoricimg_url" name="img_url">

    <input type="submit" value="Add a Prehistoric Dino">
</form>